body {
  background: #e9cfd7;
}

h1 {
  font-size: 40px;
  font-style: italic;
}

a {
  color: #950aaa;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
